Target Guided Orinal Encoding

We use this when we have large number of unique categorical data

In [4]:
import pandas as pd

In [8]:
df=pd.DataFrame({
    'city':['NY','LA','Paris','NY','London','LA'],
    'price':[200,120,150,300,270,300]
})

In [9]:
df.head()

     city  price
0      NY    200
1      LA    120
2   Paris    150
3      NY    300
4  London    270

In [14]:
df_groupby=df.groupby('city')['price'].mean()

In [16]:
df_groupby.to_dict()

{'LA': 210.0, 'London': 270.0, 'NY': 250.0, 'Paris': 150.0}

In [17]:
df['city_encoded']=df['city'].map(df_groupby)

In [18]:
df

     city  price  city_encoded
0      NY    200         250.0
1      LA    120         210.0
2   Paris    150         150.0
3      NY    300         250.0
4  London    270         270.0
5      LA    300         210.0